<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>NoteTaker</title>

</head>
<body>
    <section>
        <h1>notet7ker</h1>
        <div class="contact__value">
            <a href="https://web.telegram.org/k/#@noteT7ker_bot">NoteT7ker</a>
        </div>
    </section>
</body>
</html>